.newspage__main{
    background-color: rgba(234, 236, 234, 0.835);
    padding: 20px;
    min-height: 400px;
}
.newspage__wrapper {
    text-align: center;
}

.newspage__heading {
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.newspage__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new__card-h3{
    color: black;
    font-size: larger;
}
/* swiperrrr */
