.new__cards {
    display: flex;
}
.news__heading{
    text-align: center;
    color: rgb(188, 79, 210);
}
.news_span{
    color: blueviolet;
}
.new__cards-item {
    position: relative;
    max-width: 200px;
    margin-top: 150px;
}
.new__card-h3 {
    position: absolute;
    bottom: 10px;
    color: rgb(0, 140, 255);
}

.imgcards {
    border-radius: 10px;
    width: 100%;
}
.news__section{
    background-color: red;
}