.category-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;

    /* width: 100%; */

}

.categorycard {
    max-width: 350px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 15px;
}

.category-card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.category__cards-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.category__card-heading {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 0, 255);
}

.h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: 0.3s;
}

.h3:hover {
    color: white;
    transform: translateX(10px);
    transition: 0.6s;
}

.categorycard {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .6s ease-in-out;
}

.hover08 figure:hover .categorycard {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}